<nav
  class="flex lg:flex-row flex-col mx-auto justify-between gap-5 lg:gap-0 pt-10"
>
  <picture
    class="lg:w-20 object-fill flex justify-center lg:justify-start lg:pr-10"
  >
    <img width="40" src="../../assets/logoorange.png" alt="logo" />
  </picture>
  <ul
    class="flex lg:w-[70%] flex-wrap justify-center lg:justify-start items-center lg:gap-5 gap-5 uppercase text-sm text-weak-text-color"
  >
    <li>blog</li>
    <li>About</li>
  </ul>
  <div class="lg:w-[30%]">
    <ul
      class="flex justify-center lg:justify-end items-end gap-5 h-full text-weak-text-color"
    >
      <li><i class="fa-brands fa-twitter"></i></li>
      <li><i class="fa-brands fa-instagram"></i></li>
      <li><i class="fa-brands fa-facebook"></i></li>
      <li><i class="fa-brands fa-github"></i></li>
    </ul>
  </div>
</nav>
