<article
  class="flex justify-center lg:justify-between items-center lg:items-start gap-5"
>
  <div class="w-full">
    <img
      src="https://www.dwinawan.com/blog/thumb_article20.jpg"
      alt=""
      class="md:w-full"
    />
  </div>

  <div class="flex flex-col">
    <span class="text-sm md:text-base text-weak-text-color opacity-60 block"
      >Desember 21, 2021</span
    >
    <h3
      class="font-bold text-strong-text-color lg:text-3xl md:text-2xl text-xl"
    >
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    </h3>
  </div>
</article>
