<nav
  class="flex lg:flex-row flex-col mx-auto justify-between gap-5 lg:gap-0 pt-10"
>
  <picture
    class="lg:w-20 object-fill flex justify-center lg:justify-start lg:pr-10"
  >
    <a href="/">
      <img width="40" src="../../assets/logoorange.png" alt="logo" />
    </a>
  </picture>
  <ul
    class="flex lg:w-[70%] flex-wrap justify-center lg:justify-start items-center lg:gap-5 gap-5 uppercase text-sm text-weak-text-color"
  >
    <li>
      <a
        routerLink="/"
        routerLinkActive="activated"
        [routerLinkActiveOptions]="{ exact: true }"
        href="https://github.com/Davisamasoa"
      >
        HOME
      </a>
    </li>
    <li>
      <a
        routerLink="/0"
        routerLinkActive="activated"
        target="_blank"
        href="https://github.com/Davisamasoa"
      >
        HiGHLIGHT
      </a>
    </li>
  </ul>

  <div class="lg:w-[30%]">
    <ul
      class="flex justify-center lg:justify-end items-end gap-5 h-full text-weak-text-color"
    >
      <li>
        <a target="_blank" href="https://github.com/Davisamasoa">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
