<article class="flex flex-col justify-center items-center">
  <div class="w-full">
    <img width="100%" src="https://www.dwinawan.com/blog/thumb_article40.jpg" />
  </div>
  <span class="text-weak-text-color opacity-60 mt-5 block"
    >Desember 21, 2022</span
  >
  <h3 class="font-bold text-strong-text-color text-3xl my-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem explicabo
    veritatis provident error deleniti
  </h3>
  <p class="text-weak-text-color text-xl">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quisquam
    autem harum non porro voluptas reiciendis asperiores repellat, sed,
    explicabo eligendi recusandae illo beatae, minus modi possimus dolor maxime
    laudantium?
  </p>
</article>
